---
layout: default
---
<article class="notebook">
  <div class="notebook-art" aria-hidden="true">
    <img class="notebook-eye" src="{{ '/images/generated/notebook-eye.png' | relative_url }}" alt="" width="1254" height="1254" />
    <img class="notebook-instrument" src="{{ '/images/generated/notebook-instrument.png' | relative_url }}" alt="" width="1024" height="1536" />
  </div>
  <div class="notebook-reading">
    <h1>{{ page.title }}</h1>
    <div class="prose">{{ content }}</div>
  </div>
</article>
